var Father = React.createClass({
	getInitialState() {
		return {caughtMiceCount:0};
	},
	catchMouse() {
		this.setState({caughtMiceCount: this.state.caughtMiceCount+1});
	},
	render() {
		return <div style={styles}>
			<Son miceCount={this.state.caughtMiceCount}/>	
			<button onClick={this.catchMouse} style={buttonStyles}>Catch a mouse</button>
		</div>;
	}
});