var MinionMoodChanger = React.createClass({
  onMoodChanged(event) {
    let newMood = event.target.value;
    this.setState({currentMood: newMood});
  },
  render: function() {
    return (
      <div>
        <select onChange={this.onMoodChanged}>{...getOptions...}</select>
        <Minion name="Bill" mood={this.state.currentMood}/>
      </div>
    );
  }
});