var MinionMoodChanger = React.createClass({
  render: function() {
    return <div>
        <select onChange={this.onMoodChanged}>
          {...getOptions...}
        </select>
        <Minion name="Bill" mood={...add_magic_here_?...}/>
      </div>;
  },
  onMoodChanged(event) {
    let newMood = event.target.value;
    this.setState({currentMood: newMood});
  }
});
