var HelloMessage = React.createClass({
  render: function() {
    return <div>Hello, World!</div>;
  }
});

var mountNode = document.getElementById('app-container');
ReactDOM.render(<HelloMessage name="John" />, mountNode);
