.spectacle-slide {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/* Firefox */

_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a.facebook_link {
  color: #f9c300;
  text-decoration:none;
  font-weight: normal;
}

a.facebook_link:visited,
a.facebook_link:link {
  color: #f9c300;
}

a.facebook_link:active,
a.facebook_link:hover {
  color: #00D8FF;
}
